.home{
    font-size: large;
    color: white;
    text-align: center;
    font-family: "Comic Sans MS", serif;
}

.button-about{
    display: inline-flex;
    color: #128ac2;
    background: #abff7a;
    padding: 0;
    border: none;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    font-family: 'Comic Sans', serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.button-about:hover{
    filter: brightness(0.7)
}
