.about-me{
    font-size: large;
    font-family: Comic Sans MS, serif;
    color: white;
    text-align: center;
}

.button{
    text-align: center;
}

.button-tests {
    background-color: cyan;
    border: none;
    color: black;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: Comic Sans MS, serif;
    border-radius: 5px;
}
.button-tests:hover {
    filter: brightness(0.9)
}